# Compiled files
target/
*.class

# IDE files
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# Spring Boot
application-local.properties
application-dev.properties
*.log

# Maven
log/
spring-apirest.log

# OS files
.DS_Store
Thumbs.db

# Secret files
*.p12
*.jks